.skills_container{
    width: 100%;
    height: 80vh;
    background-color: transparent;
    margin-bottom: 50px;

    .skills_content{

        h1{
            margin: 0;
            text-align: center;
        }
    
        h3{
            margin-top: 0;
            text-align: center;
        }
    }
}
