.main_header{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background: transparent;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @mixin header_text ($fontSizeMin, $fontSizeP, $fontSizeMax) {
        margin: 0;
        opacity: 0;
        font-size: clamp($fontSizeMin, $fontSizeP, $fontSizeMax);
    }

    .name{
        @include header_text(36px, 10vw, 100px); //84
    }

    .pos{
        @include header_text(24px, 5vw, 40px);
    }

    @media (max-width: 600px) {
        height: 400px;
    }
}

